[submodule "dep/mach-std"]
	path = dep/mach-std
	url = https://github.com/octalide/mach-std
	branch = dev
[submodule "dep/mach-masm"]
	path = dep/mach-masm
	url = https://github.com/octalide/mach-masm
